
@font-face {
    font-family: roboto_black;
    src: url('fonts/Roboto-Black.ttf');
}
aside#menu-container .input-group #menu-search{
    height:36px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
aside#menu-container .input-group span.input-group-btn button{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.main-header .headpic{
    width:195px
}
.box-header h3,h4{
    font-family: roboto_black;
}
.box-header.with-border{
    border-bottom-color: #ddd;
}
.box-footer{
    border-top-color: #ddd;
}
.box-body .list-group-item label{
    color:#888 !important;
}
.box-body .list-group-item{
    color:#888 !important;
}
.info-box-content h1.info-box-text{
    font-family: roboto_black;
    font-size: 18px;
}
.progress_percentage{
    font-size: 13px;
}
.progress{
    background-color: #eee;
}
.box-body label{
    color:#888 !important;
}
.container_chart > .col-lg-12{
    display: table;
    width:100%;
}
.container_chart > .col-lg-12 > .sparkline{
    display: table;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 0 25px;
}
.container_progress_bar{
    margin-bottom: 15px
}
.container_progress_bar p span{
    color: #888 !important;
    font-size: 17px;
}
.container_detail_project{
    padding-bottom: 10px;
}

@media only screen and (max-width : 992px) {
    .project-summary .col-md-8 .col-md-6{
        padding-right: 0;
        padding-left: 0;
    }
}

