<style>
    .th-inner .date  {
        display: inline-table;
        width: 100%; 
    }
    
    .th-inner .date .input-group-addon {
        position: absolute;
        top: 4px;
        background: transparent;
        border: none;
        right: 10px;
    }
</style>
<section class="content-header">
    <h1>Maintain Dealer's</h1>
    <ol class="breadcrumb">
        <li><a href="#" onclick="loadPage('homepage')"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Maintain Dealer's</li>
    </ol>
</section>

<section class="content">
    <div class="global_message"></div>
    <div class="form-group">
        <button class="btn btn-primary button-float-right" style="margin-bottom: 20px" onclick="loadPage('maintain-dealer-form')">
            Create
        </button>
    </div>
    <table
        id="maintain-searchTable"
        class="search-table thbackground"
        data-ajax="pmgTable.ajax"
        data-response-handler="loadData"
        data-side-pagination="server"
        data-pagination="true"
        data-page-size="10"
        data-toggle="table"
        data-maintain-selected="true"
        data-page-list="[5, 10, 15, 20]"
        data-unique-id="idProject"
    >
        <thead>
            <tr>
                <th data-sortable="true">Dealer Code</th>
                <th data-sortable="true">Description</th>
                <th data-sortable="true">Begin Effective Date</th>
                <th data-sortable="true">End Effective Date</th>
                <th data-valign="middle" rowspan="2" data-formatter="pmgTable.renderActionsNew">Actions</th>
            </tr>
            <tr>
                <th data-field="dealerCode" data-formatter="formatNull" class="text-center" data-align="left">
                    <input type="text" id="maintain-keyword-dealerCode" placeholder="Search"/>
                </th>
                <th data-field="description" data-formatter="formatNull" class="text-center" data-align="left" >
                    <input type="text" id="maintain-keyword-description" placeholder="Search" />
                </th>
                <th data-field="startDate" data-formatter="formatNull" class="text-center" data-align="left" >
                    <div class="input-group date" >
                        <input type="text" id="maintain-keyword-startDate" placeholder="Search" readonly/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </th>
                <th data-field="endDate" data-formatter="formatNull" class="text-center" data-align="left" >
                    <div class="input-group date">
                        <input type="text" id="maintain-keyword-endDate" placeholder="Search" readonly/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </th>
              </tr>
        </thead>
    </table>
</section>

<script type="text/javascript">
    var entityName = "Maintain Dealer's";
    var searchTableId = "maintain-searchTable";
    var searchTableUrl = "/svc-jdc-devcenter-poc/rest/jdc/poc001/search-paging-data-header";
    var pmgDeleteUrl = "/svc-jdc-devcenter-poc/rest/jdc/poc001/update-status-data-header";
    var columnNames = ["dealerCode", "description", "startDate", "endDate"];
    var paramGlobal = null;
    var pmgFormPage = 'maintain-dealer-form';
    
    var pmgFormParameters = function (dataRow, mode) {
        return {
            id: dataRow.id,
            mode: mode
        };
    };
    
    function searchParameters(params) {
        params.search = {
            "%code": $("#maintain-keyword-dealerCode").val(),
            "%description": $("#maintain-keyword-description").val(),
            "%startDate": $("#maintain-keyword-startDate").val(),
            "%endDate": $("#maintain-keyword-endDate").val(),
        };

        if (params.data) {
            return {
                sort: columnNames[params.data.sort],
                limit: params.data.limit,
                offset: params.data.offset,
                order: params.data.order,
                search: params.search,
            };
        }
        return params;
    }
    var dateOptionStart = {
        format: "DD-MMM-YYYY",
        locale: 'en',
        ignoreReadonly: true,
        showClear: true,
        useCurrent: true,
    };
    
    var dateOptionEnd = {
        format: "DD-MMM-YYYY",
        locale: 'en',
        ignoreReadonly: true,
        showClear: true,
        useCurrent: true,
    };

    var readyFunction = function () {
        pmgTable.initialize();
        
        $('#maintain-keyword-startDate').datetimepicker(dateOptionStart);
        $('#maintain-keyword-endDate').datetimepicker(dateOptionEnd);
        
        $('.input-group.date input').on('dp.change', function (e) {
            var start = $("#maintain-keyword-startDate").val();
            var end = $("#maintain-keyword-endDate").val();
            
            if (start !== null && start !== "" && start !== NaN) {
                $('#maintain-keyword-endDate').data("DateTimePicker").minDate(moment(start));
            }
            if (end !== null && end !== "" && end !== NaN) {
                $('#maintain-keyword-startDate').data("DateTimePicker").maxDate(moment(end));
            }
            pmgTable.refresh()
        });
    };
</script>
