<style>
    .form-upload-file {
        margin-bottom: 14px;
    }
    .namaFile {
        border-radius: 0 4px 4px 0 !important;
    }
    #m-upload {
        margin-left: 15px;
    }
    .tab-button-content {
        background-color: #fafafa;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn-tab {
        background: transparent;
        color: black;
        border: 1px solid black;
        outline: unset !important;
    }

    .btn-tab.active {
        background: #e92030;
        border-color: #e92030;
        color: #fff;
    }

    .btn-tab.active:focus {
        background: #e92030;
        border-color: #e92030;
        color: #fff;
        outline: unset !important;
    }
    
    .label-file {
        line-height: 35px;
    }
    
    .btn-upload {
        width: 110px;
        font-size: 1em;
        font-weight: 500;
        color: white;
        text-align: center;
        background-color: #ef494f;
        display: inline-block;
        border-radius: 4px;
        box-shadow: 0px 3px 0px #a73337;
        transition: 150ms;
        height: 31px;
    }
    
    .card-img {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        height: 280px;
        border-radius: 5px;
    }

    .card-img:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .card-img img {
        border-radius: 5px 5px 0 0;
        max-height: 247px;
    }

    .card-img .content-img {
        padding: 4px 4px;
        position: absolute;
        bottom: 0;
    }
    
    .card-img .content-img #file-delete {
        border-radius: 4px;
        font-weight: 700;
        border: 1px solid #E92030;
        width: 72px;
        text-align: center;
        cursor: pointer;
        color: #E92030;
    }
    
    .card-img .content-img #file-delete:hover {
        background-color: #E92030;
        color: #fff;
    }
</style>
<section class="content-header">
    <h1>Maintain Dealer's Photo</h1>
    <ol class="breadcrumb">
        <li><a href="#" onclick="loadPage('homepage')"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#" onclick="loadPage('maintain-dealer')">Maintain Dealer</a></li>
        <li class="active">Maintain Dealer's Photo</li>
    </ol>
</section>
<div class="tab-button-content">
    <div style="border-bottom: 2px solid #ff6c71;padding-bottom: 14px;">
        <button class="btn btn-tab large-button active" id="m-form">Maintain Photo Codes</button>
        <button class="btn btn-tab large-button" id="m-upload">Upload Photo</button>
    </div>
</div>
<section class="content">
    <form class="form-horizontal" id="maintain-form">
        <input id="maintain-id" type="hidden"/>
        <div class="form-group row">
            <label  class="col-sm-3">Code <span style="color:red">*)</span>            </label>
            <div class="col-sm-6">
                <input list="maintain-codeList" id="maintain-dealerCode" name="maintain-dealerCode" class="form-control required" placeholder="Search..."/>
                <datalist id="maintain-codeList"></datalist>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3">Description <span style="color: red">*) </span></label>
            <div class="col-sm-6">
                <input class="form-control required" id="maintain-description" maxlength="255"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3">
                Begin Effective Date <span style="color: red">*) </span>
            </label>
            <div class="col-sm-6">
                <input type="date" id="maintain-startDate_select" class="form-control required" />
                <input type="hidden" id="maintain-startDate" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3">
                End Effective Date <span style="color: red">*) </span>
            </label>
            <div class="col-sm-6">
                <input type="date" id="maintain-endDate_select" class="form-control  required" />
                <input type="hidden" id="maintain-endDate" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="button" class="btn btn-primary button-save" onclick="confirmSave()">
                    Submit
                </button>
                <button type="button" class="btn btn-default button-cancel" onclick="loadPage('maintain-dealer')">
                    Cancel
                </button>
                <div class="btn btn-primary btn-back" onclick="loadPage('maintain-dealer')" style="display:none;">Back</div>
            </div>
        </div>
    </form>
    <div id="maintain-upload" style="display: none">
        <div class="row form-upload-file">
            <!--<div class="col-sm-2"></div>-->
            <div class="col-sm-8" style="display: flex;">
                <input id="maintain-fPathFile" type="file" accept="image/png, image/jpeg" onchange="getFileInfo()" class="form-control uploadFileForm">
                <label for="maintain-fPathFile">Choose file</label>
                <input type="text" class="form-control namaFile" disabled="disabled">
            </div>
            <div class="col-sm-1">
                <button onclick="_submitUpload()" id="upload" type="button" class="btn btn-primary btn-upload">Upload</button>
            </div>
        </div>
        <div class="row" id="div-card"></div>
        <div class="row col-md-12" style="margin-top:20px">
            <div class="btn btn-primary" onclick="loadPage('maintain-dealer')">Back</div>
        </div>
    </div>
</section>

<script type="text/javascript">
    var entityName = "Maintain Dealer's Photo";
    var formId = "maintain-form";
    var fieldPrefix = "maintain";
    var formFields = ["dealerCode", "description", "startDate", "endDate"];
    var idField = "id";
    var returnPage = "maintain-dealer-form";
    var url = {
        save: "/svc-jdc-devcenter-poc/rest/jdc/poc001/save-data-header",
        get: "/svc-jdc-devcenter-poc/rest/jdc/poc001/get-data-header",
        delete: "/svc-jdc-devcenter-poc/rest/jdc/poc001/update-status-data"
    };

    $(".btn-tab").on("click", function () {
        var tab = $(this).attr("id").split("-")[1];
        if (tab === "upload") {
            if (pageParameters.id) {
                 $(".btn-tab").removeClass("active");
                $(this).addClass("active");
                $(`#maintain-form`).css("display", "none");
                $(`#maintain-upload`).css("display", "block");
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: 'Please submit data header maintain!',
                })
            }
        } else if (tab === "form") {
            $(".btn-tab").removeClass("active");
            $(this).addClass("active");
            $(`#maintain-form`).css("display", "block");
            $(`#maintain-upload`).css("display", "none");
        }
       
    });
  
    $("input[type=date]").change(function (e) {
        var date = moment($(this).val()).format("DD-MMM-YYYY");
        var id = $(this).attr("id").split("_")[0];
        $(`#${id}`).val(date);
        
        var start = moment($('#maintain-startDate_select').val()).format("YYYY-MM-DD");
        var end = moment($('#maintain-endDate_select').val()).format("YYYY-MM-DD");
        document.getElementById('maintain-startDate_select').max = end;
        document.getElementById('maintain-endDate_select').min = start;
    });
    
    var confirmSave = function (type) {
        var validated = validateForm('#maintain-form');
        if (validated) {
            var text = "Are you sure you want to submit data ?";
            Swal.fire({
                title: 'Are you sure?',
                text: text,
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#E92030',
                cancelButtonColor: '#F4F4F4',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    saveData();
                }
            })
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please fill all the required fields',
            })
        }
    };
    
    var saveData = function () {
        var formObject = createFormObject('maintain', formFields, idField)
        var success = function (result) {
            if (result) {
                if (result.status == 1) {
                    if (!pageParameters.mode) {
                        Swal.fire('Success!', 'Your data has been submited.', 'success');
                        loadPage(returnPage, {id: result.data[0].id});
                    } else {
                        Swal.fire('Success!', 'Your data has been submited.', 'success');
                        loadPage(returnPage, {id: result.data[0].id, mode: pageParameters.mode});
                    }
                } else {
                    setMessage(`Saving ${entityName} Failed!`,'danger');
                }
            }
        };
        postRequest(url.save, formObject, success);
    };
    
    var fetchListFileUpload = function () {
        var param  = {
            'id' : pageParameters.id
        };

        var successResult = res => {
            if(res.status === '1') {
                var data = res.data[0];
                $('#maintain-fPathFile').val();
                $('.namaFile').val("");
                $('#div-card').html("");
                
                if (data && data.docList !== null && data.docList.length > 0) {
                    data.docList.map((item, i) => {
                        if (item.isDelete === false) {
                            var card = `
                                <div class="col-md-3" style="margin-top: 30px">
                                    <div class="card-img">
                                        <img src=${item.path} alt="Avatar" style="width:100%">
                                        <div class="content-img">
                                            <div id="file-delete" onclick="deletePopUp('${item.id}', '${item.photoId}')">Delete</div>
                                        </div>
                                    </div>
                                </div>`;
                            $('#div-card').append(card);
                        }
                    })
                }
            }
        };
        var ajaxOptions = {
             type: 'POST',
             url: window.serviceUrl + url.get,
             contentType: 'application/json',
             dataType: 'json',
             async: false,
             data: JSON.stringify(param),
             success: successResult
         };
         $.ajax(ajaxOptions);  
    };
    
    var fileList = [];
    var getFileInfo = function () {
        var fileInput = document.getElementById ("maintain-fPathFile");
        fileList = [];
        var message = "";
        if ('files' in fileInput) {
            if (fileInput.files.length > 0) {
                for (var i = 0; i < fileInput.files.length; i++) {
                    fileList.push(fileInput.files[i]);
                    var file = fileInput.files[i];
                    if ('name' in file) message += file.name + " | ";
                    else message += file.fileName + " | ";
                }
            }
        } 
        $(`.namaFile`).val(message);
    };
    
    var  uploadFile = file => (new Promise((resolve, reject) => {
        var formData = new FormData();
        formData.append('file[1]', file);
        formData.append('id', pageParameters.id);

        var processResult = function (result) {
            if (result.status == 1) {
                resolve(true);
            } else {
                Swal.fire('Failed!', `Failure in uploading file ${file.name}!`, 'error');
                return reject('error');
            }
        };

        var ajaxOptions = {
            url: window.serviceUrl + window.uploadFileHeader,
            type: "POST",
            data: formData,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: processResult
        };
        $.ajax(ajaxOptions);
    }));
    
    var _submitUpload = async function() {
        var fileInput = document.getElementById ("maintain-fPathFile");
        if (fileInput.files.length > 0) {
            showPreload();
            for (const file of fileList) {
                await uploadFile(file);
            }
            stopPreload();
            fetchListFileUpload();
        } 
    };
    
    var deletePopUp = function (id, photoId) {
        var data = {
            id: id,
            photoId: photoId
        }
        var text = `Are you sure you want do delete this file?`;
        Swal.fire({
            title: 'Are you sure?',
            text: text,
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#E92030',
            cancelButtonColor: '#F4F4F4',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.isConfirmed) {
               deleteData(data);
            }
        })
    }
    
    var deleteData = function (data) {
        var successResult = function (result) {
            if (result !== null) {
                if (result.status == '1') {
                    fetchListFileUpload();
                    Swal.fire('Success!', 'File has been deleted successfully.', 'success');
                } else {
                    Swal.fire('Failed!', 'Error in deleting the file!', 'error');
                }
            }
        };
        var ajaxOptions = {
             type: 'POST',
             url: window.serviceUrl + url.delete,
             contentType: 'application/json',
             dataType: 'json',
             async: false,
             data: JSON.stringify(data),
             success: successResult
        };
        $.ajax(ajaxOptions); 
    }
  
    var readyFunction = function () {
        if (pageParameters.mode == "view") {
            $('.btn-back').show();
            $('.button-save').hide();
            $('.button-cancel').hide();
            $('.form-upload-file').hide();
            $('input, textarea, select').prop('disabled', true);
        }
        
        if (pageParameters.id) {
            $('#maintain-id').val(pageParameters.id);
            $('#maintain-dealerCode').attr('readonly', true); 
            
            var param  = {
                'id' : pageParameters.id
            };
            
            var successResult = res => {
                if(res.status === '1') {
                    var data = res.data[0];
                    var mapStart = Date.parse(data.startDate.split('-').reverse().join('-'));
                    var mapEnd = Date.parse(data.endDate.split('-').reverse().join('-'));

                    $('#maintain-dealerCode').val(data.dealerCode);
                    $('#maintain-description').val(data.description);
                    $('#maintain-startDate_select').val(moment(mapStart).format("YYYY-MM-DD"));
                    $('#maintain-endDate_select').val(moment(mapEnd).format("YYYY-MM-DD"));
                    $('#maintain-startDate').val(data.startDate);
                    $('#maintain-endDate').val(data.endDate);
                    
                    if (!pageParameters.mode) {
                        $("#m-form").removeClass("active");
                        $("#m-upload").addClass("active");
                        $(`#maintain-form`).css("display", "none");
                        $(`#maintain-upload`).css("display", "block");
                    }
                    fetchListFileUpload();
                }
            };
            var ajaxOptions = {
                 type: 'POST',
                 url: window.serviceUrl + url.get,
                 contentType: 'application/json',
                 dataType: 'json',
                 async: false,
                 data: JSON.stringify(param),
                 success: successResult
             };
            $.ajax(ajaxOptions);
        }
        
        var bodyParams = {
            limit: "",
            offset: 0,
            order: "",
            search: {},
            sort: ""
        }

        loadSelect(bodyParams, 'CODE', '#maintain-codeList', {
            url: window.serviceUrl + window.getDelearList,
            valueField: 'code',
            textField: 'code'
        });
    };
</script>
