body {
    font-family: 'Montserrat', sans-serif;
}

.form-control {
    border-radius: 4px !important;
}

.form-control:focus {
    border-color: #d2d6de;
}

td .btn-group-vertical {
    width: 100%;
}

td .btn-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}

label span {
    margin-left: 0.5rem;
}


.btn-selected {
    background-color: #444444;
}

.btn-primary:active:focus {
    background-color: #E92030 !important;
    border-color: #E92030 !important;
}

.btn-primary.focus,
.btn-primary:focus {
    background-color: #E92030 !important;
    border-color: #E92030 !important;
}

.button-float-right {
    float: right;
    margin-left: 1rem;
}

.button-over-table button {
    margin-bottom: 0.5rem;
}

.dashboard-chart {
    margin-bottom: 1rem;
    margin-right: 1rem;
    height: 16rem;
}

.hidden {
    display: none;
}

.is-empty {
    border-width: 2px;
    border-color: red;
}

.menu-icon {
    width: 21px;
    padding-right: 4px;
    /* filter: invert(60%); */
}

.lookup-form {
    padding: 0.5rem;
}

.picker-switch a {
    color: black;
}

.search-table tbody td {
    max-width: 15rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.task-read {
    color: #aaaaaa;
}

.task-unread {
    font-weight: bold;
}

.th-inner select {
    padding: 2px;
    border-width: 1px;
}

.th-inner .date {
    white-space: normal;
    display: inline-block;
    width: 9rem;
}

.th-inner .date input {
    width: 100%;
}

#menu-search-container {
    margin: 0 0 0 0;
}

/*bootstrap override*/
#bootstrap-override td {
    vertical-align: middle;
    text-align: center;
}


#bootstrap-override .fixed-table-body {
    display: block;
    background-color: #F1F1F1;
    min-height: 26rem;
}

#bootstrap-override .menu-anchor.active {
    background-color: #b6b8bb;
    color: black;
}


#bootstrap-override .th-inner {
    overflow: visible;
    color: #fff;
    text-align: center;
    background-color: #E92030;
    height: 30px;
    line-height: 25px;
}

#bootstrap-override table thead:nth-child(1) tr:nth-child(2) .th-inner {
    background-color: #E6E6E6;
    height: 40px;
    line-height: 35px;
}

.th-inner input[type=text],
.th-inner input[type=number],
.th-inner input[type=date],
.th-inner select {
    border: none;
    background: transparent;
    font-style: italic;
    text-align: center;
    width:100%;
}

#bootstrap-override breadcrumb {
    color: #ECECEC;
}

.breadcrumb>li {
    display: inline-block;
    color: #707070;
}

.breadcrumb>li.active {
    color: #FC7A31;
    font-weight: bold;
}

h1 {
    overflow: visible;
    color: white;
}

h1 small {
    overflow: visible;
    color: black;
    font-weight: bold;
}

h2 {
    overflow: visible;
    color: #521C96;

}

h7 {
    overflow: visible;
    color: #521C96;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

h7:hover {
    background-color: #f39c12;
    font-size: 30px;
    display: inline-block;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

div select {
    overflow: visible;
    color: black;
}

div button {
    /*background-color: #33739e;*/
    color: white;
}

ol li a {
    color: black !important;
}

input {
    color: #000 !important;
}

.thbackground>thead>tr>th:last-child {
    background-color: #E92030;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #000;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
    height: 34px;
}

.main-header {
    color: #000;
    background-color: #F1F1F1 !important;
    height: 80px;
}

.logo_kiri {
    position: absolute;
    width: 157.26px;
    height: 30px;
    left: 20px;
    top: 20px;
}

.form_seacrh_dashboard {
    position: absolute;
    top: 155px;
    left: 32%;
    width: 100%;
}

.control-label {
    color: #000;
}

.content-header .content .content-wrapper {
    background-color: #FAFAFA;
}

.navbar-static-top a:hover {
    background-color: none;
}

.table-hover>tbody>tr:hover {
    background-color: #ff6c71 !important;
}

.modal-content {
    background-color: #F7F7F7 !important;
}

.fixed-table-pagination .pagination-info {
    color: #727272;
    margin-right: 5px;
}

.button-info {
    background: linear-gradient(125.57deg, #08C6F0 0%, #090FB0 300%);
    border-color: #08C6F0;
}

.button-info:hover,
.button-info:focus {
    background: linear-gradient(125.57deg, #08C6F0 0%, #090FB0 300%);
    color: white;
    cursor: auto;
}

.badge {
    background-color: white;
    color: black;
}

.pagination>li>a {
    background: #E6E6E6 !important;
    color: #727272 !important;
}

.pagination>.active>a {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #E92030 !important;
    border-color: #E92030 !important    ;
}

.fixed-table-pagination .page-list, .pagination-info {
    color: #727272 !important;
}

#project-weight:hover {
    background: linear-gradient(125.57deg, #08C6F0 0%, #090FB0 300%);
    border-color: #08C6F0;
}

.uploadFileForm {
    display: none !important;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.uploadFileForm+label {
    width: 200px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    line-height: 2.2em;
    text-align: center;
    background-color: #ef494f;
    display: inline-block;
    border-radius: 4px 0 0 4px;
    box-shadow: 0px 3px 0px #a73337;
    transition: 150ms;
    height: 31px;
}

.uploadFileForm:focus+label,
.uploadFileForm+label:hover {
    background-color: #ff6c71;
    cursor: pointer;
}

.uploadFileForm:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.rowUploadFileForm {
    margin-bottom: 15px;
    display: flex;
}

.rowUploadFileForm>label {
    line-height: 32px;
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-radius: 4px;
}

.btn-group-vertical>.btn:not(:first-child):not(:last-child) {
    border-radius: 4px;
}

.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-radius: 4px;
}

.btn-group-vertical>.btn+.btn {
    margin-top: 1px;
}


/* New */
.sidebar>.sidebar-PName {
    margin-left: 0;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #f5922f;
    white-space: normal;
    overflow: hidden;
    border-radius: 0 20px 0 0
}

.sidebar>.sidebar-PName>.project-name {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: bold;
    overflow: visible;
    display: block;
}

.btn-group-action {
   display: flex;
   justify-content: space-between;
   padding: 7px 5px;
}

.btn-group-action .btn-action-table {
   cursor: pointer;
   font-size: 12px
}

.btn-group-action .btn-action-table:hover {
   font-weight: bold;
}

.btn-group-action .action-view{
   color: #E92030;
}

.btn-group-action .action-view:hover{
   color: #fff;
}

.table-hover>tbody>tr:hover .btn-group-action .action-view{
   color: #fff;
}