body, html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container {
    width: 100% !important;
}

.bg-image {                    
    background-image: url("../../assets/img/background/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 100%;
}

.login-Font h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 49px;
    letter-spacing: 0,5px;
    color: #FFFFFF;
    text-align: left;
    padding-left: 15px;
    margin-top: -50px;
}

.login-Font input {
    background: rgba(255, 255, 255, 0.25);
    border: 2px solid #DFE2E6;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.login-Font label {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 20px;
}

.login-Logo {
    width: 20%;
    left: 0px;
    top: 60px;
    float: left;
    position: relative;
}

.login-LogoFooter {
    margin: 0 auto;
    margin-top: 10px;
    height: 10%;
    padding-bottom: 15px;
}

.login-Form {
    margin-top: 120px;
    margin-left: 0px;
}
.btn-warning {
    width: 100%;
}
.buttonSave {
    margin-top:40px;
}
input[type=text], input[type=password] {
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    color: #000000;
    font-weight: bold;
}

input::placeholder {
    font-weight: 700;
    font-color: red;
}

.logo-center {
    text-align: center;
    bottom: 0px;
    width: 90%;
    position: absolute;
}
#login_form {
    float: right;
}